* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

html {
    width: 100%;
}

:root {
    --white: #FFF;
    --black: #000;
    --lead: #808080;
    --orange: #F7580B;
    --grey: #C4C4C4;
    --Gainsboro: #D8D8D8;
}