.mainContainer {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    .searchInputContainer {
        h2 {
            margin-bottom: 2vh;
            text-align: center;
        }
    }
    hr {
        width: 1px;
        justify-self: center;
        color: #D8D8D8;
    }
    .processesContainer {
        .containerGeral {
            display: grid;
            grid-template-columns: 2fr 1fr 2fr;
            .principalContainer {
                width: 30vw;
                box-sizing: border-box;
                margin: 1rem 0rem 0rem 0rem;
                padding: 2vh;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                display: grid;
                grid-template-columns: 1fr 2fr;
                &:hover {
                    background: whitesmoke;
                }
                a {
                    justify-self: start;
                    text-decoration: none;
                    color: var(--black);
                    font-size: 14pt;
                    width: 2;
                }
                .img {
                    text-align: center;
                }
            }
        }
    }
}