.siContainer {
    text-align: center;
    margin-bottom: 7vh;
    .siInput {
        width: 462px;
        height: 10px;
        border: 1px solid #D8D8D8;
        border-radius: 10px 0px 0px 10px;
        padding: 20px;
        letter-spacing: 5px;
    }
    button {
        background: transparent;
        border-radius: 0px 10px 10px 0px;
        border: 1px solid #D8D8D8;
        width: 162px;
        height: 52px;
        padding: 10px;
        &:hover {
            background: whitesmoke;
            cursor: pointer;
        }
    }
    .result {
        align-self: center;
        margin-top: 7vh;
        div {
            &.active {
                display: initial;
            }
            &.desable {
                opacity: 0;
            }
        }
        section {
            img {
                &.active {
                    display: initial;
                }
                &.desable {
                    opacity: 0;
                }
            }
        }
        a {
            text-decoration: none;
            color: black;
            font-size: 14pt;
            width: 2;
            margin: 0 10vw 0 5vw;
        }
        .img {
            text-align: center;
        }
    }
}

// Responsividade
//Phones
@media (min-width: 359px) {
    .siInput {
        width: 100vh;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}