.headerContainer {
    background: #FFF;
    display: flex;
    border-bottom: 2px solid var(--Gainsboro);
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    button {
        background-color: transparent;
        border: none;
    }
    p {
        text-decoration: none;
        color: var(--lead);
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0px 20px 0px auto;
        span {
            color: #F7580B;
            font-weight: 700;
        }
    }
    a {
        text-decoration: none;
        color: var(--lead);
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 49px;
        &.off {
            color: var(--lead);
        }
        &.selected {
            color: #F7580B;
            font-weight: 700;
        }
    }
    .imageDetail {
        padding-top: initial;
        padding-bottom: initial;
    }
}

// Responsividade
@media (max-width:358px) {
    .headerContainer {
        display: none;
    }
}

//Phones
@media (min-width: 359px) {
    .headerContainer {
        width: 100vh;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 872px) {
    .headerContainer {
        width: 100%;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}